
@media (min-width: 640px) {
    #menu {
        display: none;
    }

    nav {
        display: flex; 
        flex: 1;
        justify-content: flex-end;
    }

    .navigation {
        display: flex; 
        list-style: none;
        margin: 0;
    }

    .navigation li {
        margin-left: 20px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr); 
    }
}