
:root {
    --primary-color: #0047AB; 
    --secondary-color: #f0f0f0;
    --accent-color: #FFD700;
    --font-heading: 'Roboto', sans-serif;
}body {
    font-family: var(--font-heading);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

nav {
    display: none; 
}

nav.show {
    display: block;
    width: 100%;
}

.navigation {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navigation li a {
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: var(--accent-color);
    color: black;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto; 
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}

figure {
    margin: 0;
    border: 1px solid #ccc;
    background-color: var(--secondary-color);
}

figure img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

figcaption {
    padding: 10px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}